#main-container{
    display:flex;
    flex-direction:column;
}

#message{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    font-size:16pt;
    text-align:center;
    border:0px solid transparent;
    margin-top:12px;
    margin-left:0px;
    margin-bottom:12px;
    margin-right:0px;
    padding:8px;
    color:white;
}

.success{
    background-color:rgb(0, 84, 0);
}

.error{
    background-color:rgb(152, 0, 0);
}

.success,.error{
    width:55%;
    height:45px;
    border-radius:25px;
    display:flex;
    justify-content:center;
    align-items:center;
}

@media screen and (max-width:768px){
    #message{
        padding:0px;
        font-size:14pt;
    }
}

@media screen and (max-width:510px){
    #message{
        font-size:12pt;
    }
}

@media screen and (max-width:400px){
    #message{
        font-size:10pt;
    }
}